# CANDIDE Services (optional)
EXPLORER_URL="Run candidelabs/explorer"
SECURITY_URL="Run candidelabs/security-gateway"

# Bundler Endpoints - Run candidelabs/voltiare locally on http://10.0.2.2:3000/rpc
OPTIMISM_BUNDLER_NODE=
SEPOLIA_BUNDLER_NODE=

# Node HTTP RPC - Add your own HTTP RPC endpoints
OPTIMISM_NODE_HTTP_RPC_ENDPOINT=
SEPOLIA_NODE_HTTP_RPC_ENDPOINT=
MAINNET_NODE_HTTP_RPC_ENDPOINT=

# Node WSS RPC - Websocket connections, use your own (optional)
OPTIMISM_NODE_WSS_RPC_ENDPOINT=
SEPOLIA_NODE_WSS_RPC_ENDPOINT=

# Paymaster endpoints (optional) - You can use Candide's provided paymasters on dashboard.candide.dev
OPTIMISM_PAYMASTER=
SEPOLIA_PAYMASTER=

# Magic Link (optional) - Get a magic link key to try email recovery on testnet
MAGIC_API_KEY=
# Wallet Connect (optional) - Get a wallet connect key to support wallet connect v2
WALLET_CONNECT_PROJECT_ID=
# Mobula API Key
MOBULA_API_KEY=